body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	display: table; 
	background: linear-gradient(to right, black, grey, black);
	font-family: monospace;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #14480A;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: #0000FF;
}

/* header */
#header {
    background: linear-gradient(black, green, black);
    height: 123px;
    width: 1000px;
    border: lightgrey 3px solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
	 box-shadow: 5px 5px black;
}
#headback {
	position: absolute;
    overflow: hidden;
    border-radius: 20px;
    height: inherit;
    width: 1004px;
	color: rgba(0, 255, 32, 0.61);
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
}
#logo {
	position:relative;
    line-height: 115px;
    color: rgb(200, 255, 0);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 6em;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.6);
}

/* container */
#container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 1006px;
}
#content {
	background: linear-gradient(to right, grey, lightgrey, lightgrey, lightgrey, lightgrey, grey);
	height: 0%;
	width: 70%;
	float: left;
	padding: 20px;
	border: #14480A 4px solid;
	border-radius: 20px;
	text-align: center;
   box-shadow: 5px 5px black;
}
.title {
	 background: #14480A;
    border-radius: 20px;
    line-height: 2em;
    color: #C8F903;
    text-shadow: 3px 2px black;
    box-shadow: 3px 3px black;
}
.content_entry {
	position: relative;
	 float: left;
	 background: rgba(200, 255, 0, 0.2);
    border: 3px #14480A solid;
    border-radius: 20px;
    width: 30%;
    height: 250px;
    margin: 10px 7px 10px 8px;
    text-align: center;
    box-shadow: 3px 3px black;
}
.content_entry:hover {
	 background: rgba(200, 255, 0, 0.4);
}
.content_entry > img {
    width: 90%;
    height: 60%;
    margin: 5%;
    border-radius: 10px;
}
.entry_name {
    margin: 3%;
    font-size: 1.3em;
    font-weight: bold;
}
.entry_name:hover {
	text-decoration: underline;
}
.entry_price {
    position: absolute;
    color: black;
    font-family: serif;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    bottom: 3%;
}


/* sidebar */
#sidebar {
  background: linear-gradient(to right, grey, lightgrey, lightgrey, grey);
  height: 0%;
  width: 30%;
  float: left;
  margin-left: 10px;
  border: #14480A 4px solid;
  border-radius: 20px;
  box-shadow: 5px 5px black;
}

.sidebar_entry > * {
	margin-left: 20px;
}
.sidebar_header {
	margin: 10 auto;
	border-bottom: 2px solid #14480A;
    line-height: 2em;
    background: #14480A;
    color: rgb(200,255,0);
    font-size: 1.3em;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 3px 2px black;
    letter-spacing: 3px;
    padding-left: 15px;
}
#search > .sidebar_header {
	margin-top: 0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#search > input {
	width: 85%;
	border: #14480A 2px solid;
	border-radius: 5px;
   padding: 3px;
	font-family: monospace;
	font-size: 1em;
	color: black;
	background: none;
}
.sidebar_entry > ul, li {
	 margin-left: 0;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;
}
#sidebar li {
	text-align: left;
}
#category_list ul {
	padding: 0;
	list-style: none;
}
.category li.button a {
	 display: block;
    margin-top: 5%;
}
.dropdown{
	display: none;
}
.dropdown ul li{
	list-style: circle;
   margin-left: 20px;
   font-size: 14px;
}


/* footer */
#footer {
    background: linear-gradient(black, green, black);
    height: 70px;
    width: 1000px;
    border: lightgrey 3px solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 3.5em;
    color: rgb(200, 255, 0);
    font-family: monospace;
    font-size: 1em;
    box-shadow: 5px 5px black;
}